extends layouts/doc-page

block title
  | Substitutions &amp; Flags

block content
  h1.SG-h1 Substitutions &amp; Flags
  p.SG-p.
    For special features of the styleguide, a set of @flags and @{substitutions} is available to use on certain elements.

  h2.SG-h2 Substitutions

  p.SG-p.
    Substitutions help you to compose and fill your markup blueprints. Therefore, Nucleus offers placeholder functions for texts and images to be used inside the markup of elements.

  p.SG-p.
    Furthermore, to avoid repeating markup all over the annotations again, you may include the markup of another element with @{include:.selector}.

  div.SG-config
    div.SG-config__row
      div.SG-config__label Substitution
      div.SG-config__value @{include:selector}
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Include the markup from another element
    div.SG-config__row
      div.SG-config__label Example
      div.SG-config__value @{include:.header}

  div.SG-config
    div.SG-config__row
      div.SG-config__label Substitution
      div.SG-config__value @{lipsum:quantity:type}
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Include a placeholder text. Type could be paragraphs, sentence or words.
    div.SG-config__row
      div.SG-config__label Example
      div.SG-config__value @{lipsum:3:paragraphs}

  div.SG-config
    div.SG-config__row
      div.SG-config__label Substitution
      div.SG-config__value @{image:width:height}
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Include a placeholder image from <a class="SG-a" href="https://unsplash.com/" target="_blank">Unsplash</a>
    div.SG-config__row
      div.SG-config__label Example
      div.SG-config__value @{image:400:300}

  div.SG-config
    div.SG-config__row
      div.SG-config__label Substitution
      div.SG-config__value @{template:path}
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Include the whole content of file. 'path' is either an absolute path, a path relative to where nucleus is being run, or a path appended to the config variable templatePath
    div.SG-config__row
      div.SG-config__label Example
      div.SG-config__value @{template: src/templates/navigation.html}

  div.SG-config
    div.SG-config__row
      div.SG-config__label Substitution
      div.SG-config__value @{iframe:path:width:height}
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Includes a document in an iframe. 'path' is either an absolute path, a path relative to where nucleus is being run, or a path appended to the config variable iframePath. Width default is 100%, height is 100vh
    div.SG-config__row
      div.SG-config__label Example
      div.SG-config__value @{iframe: /rendered-components/navigation.html:700px:400px}

  code.code.language-nucleus(data-d-code-preview).
    /**
     * A navigation element for the menu bar.
     *
     * @atom Menu Item
     * @markup
     *  &lt;a class="menu-item"&gt;@{lipsum:2:words}&lt;/a&gt;
     */
    .menu-item { /* ... */ }

    /**
     * A menu bar which spans across full page width.
     *
     * @molecule Menu Bar
     * @flag full-width
     * @markup
     *   &lt;nav class="menu"&gt;
     *     @{include:.menu-item}
     *     @{include:.menu-item}
     *     @{include:.menu-item}
     *   &lt;/nav&gt;
     */
    .menu { /* ... */ }


  h2.SG-h2 Flags
  p.SG-p.
    Flags are used to enable certain features related to Nucleus - mostly related to the visual output or processing.
  p.SG-p.
    For example, if you like an element to spread over the full width of a page instead of being bound inside the main content container, annotate it with @flag full-width.

  div.SG-config
    div.SG-config__row
      div.SG-config__label Flag
      div.SG-config__value @flag full-width
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Extends the element preview to full body width

  code.code.language-nucleus(data-d-code-preview).
    /**
     * Header bar with logo, navigation, and tool icons at the top of the page.
     * Note: This is just a minified example.
     *
     * @structure Header
     * @flag full-width
     * @markup
     *  ...
     */
    .SG-header { /* ... */ }

  div.SG-config
    div.SG-config__row
      div.SG-config__label Flag
      div.SG-config__value @deprecated
    div.SG-config__row
      div.SG-config__label Description
      div.SG-config__value Marks the element as deprecated

  code.code.language-nucleus(data-d-code-preview).
    /**
     * Previous button color
     *
     * @color
     * @deprecated
     */
    $color--button: #FFCC66;
